[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-simplemahjong
Exec=sailfish-qml harbour-simplemahjong
Name=Simple Mahjong Solitaire

#Name[de]=harbour-simplemahjong

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-simplemahjong
